         <div class="headerHolder">
            <div class="menuHolder">
                <nav class="menu">
                    <ul id="menu"> 
                        <li><img src="images/menu_figure1.png" alt="" class="figure" style="right: 295px; opacity: 1;"></li>
                        <li><img src="images/menu_figure2.png" alt="" class="figure" style="right: 295px; opacity: 1;"></li>
                        <li><img src="images/menu_figure3.png" alt="" class="figure" style="right: 292px; opacity: 1;"></li>
                        <li><img src="images/menu_figure4.png" alt="" class="figure" style="right: 310px; opacity: 1;"></li>
                    </ul>
                </nav>
             </div>  
        </div>
            
    <input type="text" readonly="readonly" value="" />
    <button class="default" onclick="generate()">Genera el codigo</button>