	<script>
        var urlName = '<%= urlName.urlN %>',
        	model;       
     </script>
     
	<div class="time"></div>
	
	<a href="#" class="start">start</a>
	<a href="#" class="stop">stop</a>
	<a href="#" class="pause">pause</a>
	<a href="#" class="reset">reset</a>